<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    



    {% block content %}
       
 
   

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/start.css' %}">

    <div id="grid_start">
        <div> <a href="/partes/" class="btn btn-primary">Partes (averias)</a></div>
        <div> <a href="/rondas/" class="btn btn-primary">Rondas (Legal)</a></div>
        <div> <a href="/registros/" class="btn btn-primary">Registros (Técnico)</a></div>
        <div> <a href="/consumos/" class="btn btn-primary">Consumos energeticos</a></div>
        
        <div> <a href="/listados/" class="btn btn-primary">Listados</a></div>
        <div> <a href="/notas" class="btn btn-primary">Notas</a></div>
        <div> <a href="/agenda/" class="btn btn-primary">Agenda</a></div>
        <div> <a href="/exportar/" class="btn btn-primary">Exportar</a></div>
        <div> <a href="/pedidos/" class="btn btn-primary">Pedidos</a></div>
        <div> <a href="/busquedas/" class="btn btn-primary">Busquedas</a></div>
        <div> <a href="Enviar por correo" class="btn btn-primary">Enviar</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Editar parte</a></div>
    </div>
    
    {% endblock %}






</body>
</html>