<body>
     {% extends "start.html" %}
     {% load static %} 


    {% block content %}
       
 
   

  
    <link rel="stylesheet" href="{% static '/css/start.css' %}">

    <div id="grid_start">
        <div> <a href="/resumen/" class="btn btn-primary">Resumen</a></div>
        <div> <a href="/partes/pendientes/" class="btn btn-primary">Partes (averias)</a></div>
        <div> <a href="/piscinas" class="btn btn-primary">Piscinas</a></div>
        <div> <a href="/aguas/aguas" class="btn btn-primary">Aguas</a></div>
        <div> <a href="/consumos/" class="btn btn-primary">Consumos</a></div>
        <div> <a href="/listados/" class="btn btn-primary">Listados</a></div>
        <div> <a href="/registros/" class="btn btn-primary">Registros (Técnico)</a></div>
        <div> <a href="/legal_semanal/" class="btn btn-primary">legal_semanal</a></div>
        <div> <a href="/legal_mensual/" class="btn btn-primary">legal_mensual</a></div>
        <div> <a href="/legal_trimestral/" class="btn btn-primary">legal_trimestral</a></div>
        <div> <a href="/legal_semestral/" class="btn btn-primary">legal_semestral</a></div>
        <div> <a href="/legal_anual/" class="btn btn-primary">legal_anual</a></div>
        <div> <a href="/legal_bianual/" class="btn btn-primary">legal_bianual</a></div>
        <div> <a href="/legal_quinquenal/" class="btn btn-primary">legal_quinquenal</a></div>
        <div> <a href="/pedidos/" class="btn btn-primary">Pedidos</a></div>
        <div> <a href="/mis_trabajos/" class="btn btn-primary">Mis trabajos.</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">Periodicos</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">.</a></div>
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-primary">.</a></div>
        <div> <a href="/rondas/rondas/" class="btn btn-primary">Rondas (Legal)</a></div>
  </div>
    
    {% endblock %}


</body>
