

<body>
  <nav  class="navbar navbar-expand navbar-dark bg-primary" style="margin: 0px; padding: 5px" >
    <div class="container-fluid">
      <a  class="navbar-brand" style="margin: 0px; padding: 0px" href="/"><hgroup style="margin: 0px; padding: 0px"><h4 style="margin: 0px; padding: 0px">YetY </h4>  </hgroup></a>
      <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if  user.is_authenticated %}

  <div  class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Partes</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/partes/nuevo_form">Nuevo</a>
              <a class="dropdown-item" href="/partes/pendientes">Pendientes</a>
              <a class="dropdown-item" href="/partes/partes">Últimos partes</a>
              <a class="dropdown-item" href="/partes/trabajo/listado">Últimos trabajos</a>
              <a class="dropdown-item" href="/partes/ubicacion_list_form">Lista por ubicacion</a>
              <a class="dropdown-item" href="/partes/elemento_list_form">Lista por elemento</a>


              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>

          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link " href="/accounts/logout/ " >Salir {{ user }}</a>
          </li>
        </ul>
        <h6> <small><small> Alpha 5.0.0  </small></small></h6>

      </div>
    </div>

    {% endif %}
  </nav>


</body>
