<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    



    {% block content %}
       
 
   

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/start.css' %}">

    <div id="grid_start"> 
        <div> <a href="edit/{{ ot_parte.pk }}" class="btn btn-info">Habitaciones</a></div>
        <div> <a href="/piscina_grande/" class="btn btn-info ">Cocina</a></div>
        <div> <a href="/piscina_pequeña/" class="btn btn-info">Agua Caliente</a></div>
        
                
    </div>
    
    {% endblock %}






</body>
</html>