<!doctype html>
<html lang="es">


{% load staticfiles %}


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/yeti/bootstrap.min.css" >
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block title %}<title>YetY</title>{% endblock %}
  </head>

  <body>
    {% include 'navbarRondas.html'%}

    <div class="container-fluid">
        <div class='col-sm-12'>

          {% block content %}      {% endblock %}

            {% block pagination %}

                <h5>
                  {% if is_paginated %}
                      <div class="pagination">
                        <ul class=pager>
                          <span class="page-links">
                              {% if page_obj.has_previous %}

                                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
                              {% endif %}
                              <span class="page-current">
                                  ...Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}...
                              </span>
                              {% if page_obj.has_next %}
                                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Siguiente</a>
                              {% endif %}
                          </span>
                        </ul>
                      </div>
                  {% endif %}
                </h5>
            {% endblock %}
        </div>




        <div class='col-12'>

          {% block contenido %}
          <div class='col-xs-12'>
          <p  class="text-warning">-</p>

          {% endblock %}

        </div>




    </div>
</body>
</html>


<!--
<div>
  <ul class="pagination pagination-sm">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
