<!doctype html>
<html lang="es">


<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="/"><h1>YetY   Rondas</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ronda mañana
              </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Piscina grande Vaso1</a>
            <a class="dropdown-item" href="#">Piscina pequeña Vaso2</a>
            <a class="dropdown-item" href="#">Piscina Spa Vaso3</a>
            <a class="dropdown-item" href="#">Hidromasaje Vaso4</a>
            <a class="dropdown-item" href="#">Calderas</a>
            <a class="dropdown-item" href="#">Enfriadoras</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Otra cosa</a>

        </div>
      </li>

      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ronda Tarde
              </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Piscina grande Vaso1</a>
            <a class="dropdown-item" href="#">Piscina pequeña Vaso2</a>
            <a class="dropdown-item" href="#">Piscina Spa Vaso3</a>
            <a class="dropdown-item" href="#">Hidromasaje Vaso4</a>
            <a class="dropdown-item" href="#">Calderas</a>
            <a class="dropdown-item" href="#">Enfriadoras</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Otra cosa</a>

        </div>
      </li>



      <li class="nav-item active">
        <a class="nav-link" href="/partes/nuevo_form">Nuevo</a>
      </li>
    </ul>
  </div>
</nav>


<!--

      <li class="nav-item ">
        <a class="nav-link" href="/partes/pendientes">Pendientes <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/partes">Listado <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trabajo/listado">Lista trabajos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">T</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">T2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">T3</a>
      </li>

    <form class="form-inline my-2 my-lg-0">
      <input style=" visibility : hidden "class="form-control mr-sm-2" type="text" placeholder="Ubicacion">
      <button style=" visibility : hidden "class="btn btn-secondary my-2 my-sm-0" type="submit">Listar</button>
    </form>
-->
