/* grid de cabecera*/

#grid_start {
  display: grid;
<<<<<<< HEAD
<<<<<<< HEAD
  height: 200px;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  /*grid-template: repeat(4, 1fr) / repeat(3, 1fr);*/
  grid-gap: 10px 10px;
=======
=======
>>>>>>> f2e7bc42ef7b2b4c9efe4c14b64b36cc58305cd6
  grid-template-columns: repeat(auto-fill, minmax(15rem, 15rem));
  margin: 1em;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  /* height: 200px;*/
  /*grid-template: repeat(4, 1fr) / repeat(3, 1fr);*/

  border: 2px solid rgb(207, 11, 251);
  
<<<<<<< HEAD
>>>>>>> f2e7bc42ef7b2b4c9efe4c14b64b36cc58305cd6
=======
>>>>>>> f2e7bc42ef7b2b4c9efe4c14b64b36cc58305cd6
}

 /*grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));*/
    /*grid-auto-flow: dense;*/


#grid_start > div {
  display: grid;
  grid-column: 1fr;
 
  margin: 1em;
  align-self: center;
  border: 2px solid rgb(15, 11, 251);
  
}



  /* grilla Start  

 
  .elemento1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    /*background: #e90f58;
    
    margin: 1em;
    padding: 0em;
  }
  
  .btn{
    display: grid;
    grid-column: 1fr;
    margin: 2px;
    padding: 1rem  ;
    justify-self: center;
  }  */