/* grid de cabecera*/

h1, h2, h3{
  text-align: center;
  
  margin: 1rem;
}



  h1, h2, h3, #borde, #grid_start, #grid_start > div{

    border: 1px solid #e4e4e4; 
  }

#grid_start {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  align-items: center;
  justify-content: center;
  /* height: 200px;*/
  /*grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  border: 1px solid rgb(11, 231, 251);*/
}

#grid_start > div {
  display: grid;
  padding: 5px;
  grid-column: 1fr;
  /*border: 1px solid rgb(91, 93, 9);*/
  align-self: center;
  
}





  /* grilla Start  

 
  .elemento1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    /*background: #e90f58;
    
    margin: 1em;
    padding: 0em;
  }
  
  .btn{
    display: grid;
    grid-column: 1fr;
    margin: 2px;
    padding: 1rem  ;
    justify-self: center;
  }  */