.grid {
    display: grid;
   
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-flow: dense;
    padding: 1em;
    margin: 1em;
    border: 5px solid rgb(70, 25, 219);
   
  }

  .a, .b, .c, .e,.f{
    
    background-color: rgb(216, 220, 217);
    margin: 1em;
    padding: 1em;
    border: 5px solid rgb(243, 7, 7);
  }
  .d {
    grid-column: 1 / 3;
    background-color: rgb(216, 220, 217);
    margin: 1em;
    padding: 1em;
    border: 5px solid rgb(243, 7, 7);
  }
 .g {
    grid-column: 1 / 4;
    background-color: rgb(216, 220, 217);
    margin: 1em;
    padding: 1em;
    border: 5px solid rgb(243, 7, 7);
  }


   .h {
    display: grid;
    grid-template-columns: repeat(auto-fll, minmax(1rem, 1fr));
    background-color: rgb(216, 220, 217);
    margin: 1em;
    padding: 1em;
    border: 5px solid rgb(188, 208, 61);
  }



  .i {
    display: grid;
    grid-template-columns: repeat(auto-fll, minmax(1rem, 1fr));
    background-color: rgb(175, 179, 247);
    margin: .1em;
    padding: .1em;
    border: 5px solid rgb(4, 42, 112);
  }
  .j {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    background-color: rgb(216, 220, 217);
    margin: 1em;
    padding: 1em;
    border: 5px solid rgb(188, 208, 61);
  }



  .k {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    background-color: rgb(175, 179, 247);
    margin: .1em;
    padding: .1em;
    border: 5px solid rgb(4, 42, 112);
  }



  .l {
    
    background-color: rgb(28, 151, 58);
    margin: 1em;
    padding: 1em;
    border: 5px solid rgb(7, 243, 82);
  }