
a {
  
   margin-bottom: 0.5rem;
   font-family: inherit;
   font-weight: 300;
   line-height: 1.2;
   
}


/* Plantilla de login */
  
 .login-page {
   padding: 18% 0 0;
   margin: 0 auto 100px;
   max-width: 360px;
   position: relative;
 }
  
 .login-form {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
 }
  
 .login-form-header {
    padding-top: 16px;
 }
  
 .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
 }
  
 .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
 }
  
 .login-form-font-header span {
    color: #007C9B;
 }




 /* Grilla detalle parte*/

 .grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
   margin: 1px;
    /*grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));*/
    /*grid-auto-flow: dense;*/

 }

 .a {
   grid-column:1/9 ;
   
   padding: 1px;
   border: 1px solid #007C9B;
 }
 
 .b{
   grid-column: 1/4;
   background-color: #f3f3f3;
   margin: 0px;
   padding: 1px  ;
   
 }
 .c{
   grid-column: 4/9;
   background-color: #f3f3f3;
   margin: 0px;
   padding: 1px;
   
 }
 .grid_botones {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 1px;
   align-items: center;
 }



 /* grilla Start  */

 .elemento1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr ;
  background: #e90f58;
  padding: 1em;
  margin: 1em;
}

.btn{
  display: grid;
  grid-column: 1fr;
  margin: 1em;
  padding: 1em  ;
  justify-self: center;
 
  
}
