{% extends '-base_parte.html'%}




{% block titulo  %}
<div>
    <div id="grid_start" style="grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr))">
        <div> <h5> {{ titulo }}</h5></div>
        <div  style="justify-items:end"> <h5 style="align-self:end;"> {{ ubicacion}} </h5></div>
    </div>
</div>
{% endblock titulo %}







<form method="post">{% csrf_token %}
    {% block elemento  %}
    <script>  $(document).ready(function() 
        { $('.seleccion_elemento').select2(); });
    </script>

<hr>

    <div >
        <div style= "display: flex; justify-content: center;">
            <select  class="select-control, seleccion_elemento " >
                {% for  elemento in todos_elementos  %}
                <option value=" {{ elemento }}">{{ elemento }}</option>
            {% endfor %}


                
            </select>
        </div>
       
     <div id='lista-input'>
     </div>


    {% endblock elemento %}

 



    {% block descripcion  %}
 
    {% endblock descripcion  %}




        
       



    </form>
      
                

    
    <hr/>
</div>
  


<div >
    <label for="no_pendientes" class="form-label mt-4"; style="margin: 0px; padding: 0px">Partes pendientes aquí</label>
    <div id="pendientes">
    {% for list in partes_list_pendientes %}
    <div> &nbsp; &nbsp;{{list.elemento }}, &nbsp; {{list.descripcion }}.</div>
    {% endfor %}
    </div>

    <label for="no_pendientes" class="form-label mt-4"; style="margin: 0px; padding: 0px">Ultimos partes aquí
    </label>
    <div id="pendientes">
    {% for list in partes_list_ultimos %}
    <div> &nbsp; &nbsp;{{list.elemento }}, &nbsp; {{list.descripcion }},&nbsp; <small> <small>{{list.estado }}.</div></small></small>
    {% endfor %}
    </div>
        
</div>





