
{% block buscar_parte %}

    {% load static%}
    <link rel="stylesheet" href="{% static '/css/start.css' %}">


        <form action="/partes/encontrar_partes/" method="get">
            
                <div style= "display: flex; justify-content: center;">
                        <input class="form-control" type="text" name="palabra" placeholder="Ej. Agua"> 
                        <input class="btn btn-success"     type="submit" value="Buscar en los partes">
                </div>
          

        </form>


{% endblock %}       
