<!doctype html>
<html lang="es">




  <head>
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
     <!-- CSS only -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    
    
    <!--CSS bootswatch  https://bootswatch.com/yeti/  https://www.bootstrapcdn.com/bootswatch/   -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/yeti/bootstrap.min.css" integrity="sha384-mLBxp+1RMvmQmXOjBzRjqqr0dP9VHU2tb3FK6VB0fJN/AOu7/y+CAeYeWJZ4b3ii" crossorigin="anonymous">
    
    
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/yeti/bootstrap.min.css" >-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    {% block title %}<title>YetY</title>{% endblock %}
  </head>



<body>
 
  {% include 'navbar.html'%}


          <div style=" margin-left: 5px; ">     
            {% block content %}      
            {% endblock %}
          </div>    

            {% block pagination %}
                <h5>
                  {% if is_paginated %}
                      <div class="pagination">
                        <ul class=pager>
                          <span class="page-links">
                              {% if page_obj.has_previous %}

                                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
                              {% endif %}
                              <span class="page-current">
                                  ...Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}...
                              </span>
                              {% if page_obj.has_next %}
                                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Siguiente</a>
                              {% endif %}
                          </span>
                        </ul>
                      </div>
                  {% endif %}
                </h5>
             {% endblock %}  
 </body>
</html>


