<!doctype html>
<html lang="es">

{% extends "start.html" %}




{% block content %}
{% include 'buscar_parte.html' %}

<h3>Lista elementos</h3>
<h5>Selecciona elemento</h5>


<form action="/partes/elemento_lista_partes/" method="GET" class="post-form">
    <div class="container_fluid">
      <div class="row">
        <div class="col-xs-12 ">
          {{ form.elemento_ot }}
        </div>
        <div class="col-1">
          <button type="submit" class="btn btn-outline-success">Listar Ya</button>
        </div>
      </div>
    </div>

</form>
{% endblock %}
