<!doctype html>
<html lang="es">


{% extends "inicio.html" %}

{% block content %}
<h3>Parte nuevo o Editar </h3>
<h6>Rellenar según proceda, </h6>


<form method="POST" class="post-form">{% csrf_token %}
 
  


    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-4">
            <select type="text" class="form-control"  {{ form.ubicacion_ot }}
            <select type="text" class="form-control" placeholder="Campo de texto"{{ form.elemento_ot }}
            <select type="text" class="form-control" placeholder="{{ form.estado_ot.value }}"{{ form.estado_ot}}
            <select type="text" class="form-control" placeholder="{{ form.prioridad_ot.value }}"{{form.prioridad_ot}}
            <select type="text" class="form-control" placeholder="{{ form.estado_ot.value }}"{{ form.recursos_ot}}
            <select type="text" class="form-control" placeholder="{{ form.tipo_aviso_ot.value }}"{{form.tipo_aviso_ot}}
          </div>

          <div class="col-sm-8">
            <textarea type="text" rows="3" class="form-control" placeholder="Descripcion Parte"{{ form.descripcion_ot }} </textarea>
            <input type="text" class="form-control" placeholder="Etiquetas"{{form.etiqueta_ot}}
            <input type="text" class="form-control" placeholder="Notas"{{form.notas_ot}}
            <button type="submit" class="btn btn-outline-success">Ok Guardar</button>
          </div>
      </div>



  </div>

</form>
{% endblock %}
<!-- placeholder="{{ form.ubicacion_ot.value }}"-->
