<!doctype html>
<html lang="es">

{% extends "start.html" %}

{% block content %}
{% include 'buscar_parte.html' %}

        <h3>Lista de partes por ubicacion  </h3>
        <h5 style="padding-left: 5px">Terminados o no</h5>


<div class="container_fluid">

  <ul class="list-unstyled" style="padding-left: 5px">

      {% for Ot_Parte in Ot_Parte %}
    
    
      <li>    
        <a href="/partes/ubicacion/{{ Ot_Parte.ubicacion_ot }} ">{{ Ot_Parte.ubicacion_ot }},&nbsp;&nbsp;</a>  
        <a href="/partes/elemento/{{ Ot_Parte.elemento_ot }}">{{ Ot_Parte.elemento_ot }}. </a> 
        <a class="h6" href="/partes/{{ Ot_Parte.num_ot }} " >{{ Ot_Parte.descripcion_ot }}</a> &nbsp;&nbsp;
      </li>


      {% endfor %}

  </ul>
 

 
  <a href="/partes/nuevo"  type="submit" class="btn btn-outline-success" >No esta hecho, lo hago nuevo</a>
{% endblock %}

