<!doctype html>
<html lang="es">

{% extends "start.html" %}




{% block content %}
 
{% include 'buscar_parte.html' %}
        <h3>Lista Pendientes </h3>

{% if user.is_authenticated %}


        
        <h5 style="padding-left: 5px">Urgentes arriba, seguidos de los mas  <a href="/partes/nuevo">nuevo</a>s </h5>
        
 
 
 
        <ul class="list-unstyled" ; style="padding-left: 5px">
          {% for Ot_Parte in object_list %}

      <li>    

          <a href="/partes/ubicacion/{{ Ot_Parte.ubicacion_ot }} ">{{ Ot_Parte.ubicacion_ot }},&nbsp;&nbsp;</a>  
          <a href="/partes/elemento/{{ Ot_Parte.elemento_ot }}">{{ Ot_Parte.elemento_ot }}. </a> 
          <a class="h6" href="/partes/{{ Ot_Parte.num_ot }} " >{{ Ot_Parte.descripcion_ot }}</a> &nbsp;&nbsp;
         
 
        </li>
      {% endfor %}

{% endif %}
  </ul>
{% endblock %}
 
