{% extends "inicio.html" %}
<!doctype html>
<html lang="es">

{% block content %}
<h5>ot_parte_new_form</h5>
<form method="POST" class="post-form">

  {% csrf_token %}


    <div class="container">
      <div class="row">
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Ubicacion"{{ form.ubicacion_ot }}>
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Elemento o equipo"{{ form.elemento_ot }}>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Que ha pasado"{{ form.descripcion_ot }}>
        </div>
      </div>
    </div>

  <button type="submit" class="save btn btn-default">Save</button>
  </form>


{% endblock %}
