<!doctype html>
<html lang="es">

{% extends "start.html" %}
{% block content %}
<div>{% include 'navbar_partes.html'%} </div>
{% include 'buscar_parte.html' %}

        <h3>Lista últimos partes </h3>
        <h5 style="padding-left: 5px">Últimos partes nuevos o modificados, terminados o no </h5>

      <ul class="list-unstyled" ; style="padding-left: 5px">

      {% for Ot_Parte in object_list %}


        <li>
          <a href="/partes/ubicacion/{{ Ot_Parte.ubicacion_ot }} "> {{ Ot_Parte.ubicacion_ot }}</a>&nbsp;&nbsp;
          <a href="/partes/elemento/{{ Ot_Parte.elemento_ot }} ">{{ Ot_Parte.elemento_ot }},</a>&nbsp;&nbsp;
          <a href="/partes/{{ Ot_Parte.num_ot }} " >{{ Ot_Parte.descripcion_ot }}</a> &nbsp;&nbsp;
          <small><small>
            {{ Ot_Parte.fecha_cambio_ot}},
            {{ Ot_Parte.estado_ot}}
          </small></small>

        </li>
      
      {% endfor %}
  </ul>
{% endblock %}
