<!doctype html>
<html lang="es">

{% extends "inicio.html" %}



{% block content %}
  <ul class="list-unstyled">

        <h3>Lista Pendientes </h3>

{% if user.is_authenticated %}


        
        <h5>Urgentes arriba, seguidos de los mas  <a href="/partes/nuevo">nuevo</a>s </h5>
        
 
 
 
 
      {% for Ot_Parte in object_list %}
      <!--  <small><small>({{ Ot_Parte.prioridad_ot }})</small></small> -->
        <li>   <a   href="/partes/{{ Ot_Parte.pk }} ">{{ Ot_Parte.ubicacion_ot }},&nbsp;&nbsp;</a>  <a class="h6" href="/partes/elemento/{{ Ot_Parte.elemento_ot }}">{{ Ot_Parte.elemento_ot }}. </a> <h6 style="display: inline;">&nbsp;&nbsp;  {{ Ot_Parte.descripcion_ot }}</h6><br>
         

        </li>
      {% endfor %}
      
{% endif %}
  </ul>
{% endblock %}
 
