<!doctype html>
<html lang="es">

{% extends "inicio.html" %}

{% block content %}
  <ul class="list-unstyled">
        <h3>Lista de partes por elemento</h3>
        <h6>Terminados o no</h6>


        <sub> 'Num Parte, Ubicacion, Elemento, Descripcion parte' </sub>
      {% for los_partes in los_partes %}
        <li>
                <a href='/partes/{{ los_partes.num_ot }}'> <small> <small> {{ los_partes.num_ot }} </small> </small> </a>
                <a href="/partes/ubicacion/{{ los_partes.ubicacion_ot }} ">  {{ los_partes.ubicacion_ot }} </a>
                {{ los_partes.elemento_ot }},
                {{ los_partes.descripcion_ot }}
                <small><small>{{ los_partes.fecha_cambio_ot}}, {{ los_partes.estado_ot}}</small></small>

        </li>
      {% endfor %}
  </ul>
{% endblock %}
