<!doctype html>
<html lang="es">

{% extends "start.html" %}
{% block content %}
<div>{% include 'navbar_partes.html'%} </div>
{% include 'buscar_parte.html' %}

<h3>Editar trabajo</h3>
<h5>Escribe el trabajo realizado en este parte</h5>




<form method="POST" class="post-form">{% csrf_token %}

  <div style="padding-left: 5px">
    <div class="cabecera">
      <a href='/partes/ubicacion/{{ parte.ubicacion_ot}}'><h3>{{ parte.ubicacion_ot}} </a>
      <a href='/partes/elemento/{{ parte.elemento_ot}}'>,    {{ parte.elemento_ot }} </a>
      <a href='/partes/{{form.num_ot_tra.value}}'>,  {{ parte.descripcion_ot}} </h3> </a>
    </div>

    <div class="row">

      <div hidden>{{form.num_ot_tra}}</div> <!--- ES necesario para que devuelva el numero de trabajo-->
      {{form.descripcion_tra}}
          <button type="submit" class="btn btn-outline-success">Ok Guardar</button>
         </div>
    
     </div>

</form>


{% endblock %}
style=" visibility : hidden "
