<!doctype html>
<html lang="es">


{% extends "start.html" %}

{% block content %}
<h3>Lista partes</h3>
<h6>Selecciona la ubicación</h6>


<form action="/partes/listaPor/" method="GET" class="post-form">
    <div class="container_fluid">
      <div class="row">
        <div class="col-xs-12 ">
          {{ form.ubicacion_ot }}
        </div>
        <div class="col-1">
          <button type="submit" class="btn btn-outline-success">Existe ya?</button>
        </div>
      </div>
    </div>

</form>
{% endblock %}
