{% extends "start.html" %}


{% load static %}
<link rel="stylesheet" href="{% static '/css/start.css' %}">

{% block content %}

    
        <form action="/partes/encontrar_partes/" method="get">
            
                <div style=" display: flex; justify-content: center ; margin: 2rem;">
                    <h3 style="margin-right: 2rem;    " >Buscar Parte:  </h3>
                    <input type="text" name="palabra" placeholder="Ej. Agua"> 
                    <input class="btn btn-primary"     type="submit" value="Buscar en los partes">
                </div>
          

        </form>


{% endblock %}       
