{% extends "start.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     {% load static %} 


    {% block content %}
 
           <h5>Estas buscando:  &nbsp;  {{palabra_recibida}}</h5> 
            
    <ul>
    
     {% for parte in los_partes %}
         <li> <a href="/partes/{{ parte.num_ot }}">    {{ parte.ubicacion_ot }} , {{ parte.elemento_ot }} , {{ parte.descripcion_ot }}</a>  </li>
     {% endfor %}
 
     {% for parte in los_partes %}
          <li> <a href="/partes/{{ parte.num_ot }}">    {{ ubicaciones.ubicacion_ub }} , {{ parte.elemento_ot }} , {{ parte.descripcion_ot }}</a>  </li>
     {% endfor %}

</ul>
 

{% endblock %}       
</body>
</html> 