{% extends "start.html" %}
<body>
    {% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/piscinas.css' %}">
    
    <div id="grid_start">

   <form> 
    {% for form in form %} 
    <!--    https://bootswatch.com/yeti/      -->

    
    <div id="form"> 
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">Default input</label>
            <input type="text" class="form-control" placeholder="Defa ult input" id="inputDefault" value="{{ form.value }}">
          </div>


            




    </div>
    {% endfor %}
   
   
 
    </form> 
    {% endblock %}
    </div>
</body>
