<!doctype html>
<html lang="es">


{% extends "start.html" %}
{% block content %}
{% load static %}
{% include 'navbar_espacios.html'%}

<form method="POST" class="post-form">{% csrf_token %}
          <div style= "display: flex ;  padding: 5px; justify-content :center; text-align: center; ">
               <h3>{{form.nombre.label}}</h3>
          </div>
          <div style= "display: flex ;  padding: 5px; justify-content :center; text-align: center; ">
               <h5>{{form.nombre.errors}} </h5>
          </div>



          <div style= "display: flex ;  padding: 5px; justify-content :center; text-align: center; ">
               <div style= "text-align: center;"> </div> &nbsp;{{form.nombre}} &nbsp; <button type="submit" class="btn btn-success ">Ok Guardar</button>
          </div>{{form.id}}
         
         
</form>

{% endblock %}
 
