<!doctype html>
<html lang="es">


{% extends "start.html" %}
{% block content %}
{% load static %}
{% include 'navbar_espacios.html'%}

<form method="POST" class="post-form">{% csrf_token %}
 

<div class="container_fluid" style="padding-left: 5px" >

  <div style= "display: flex ;  padding: 5px; justify-content :center; text-align: center; ">
    <h3>Lista de plantas y zonas</h3>
  </div>
  
{% for  list in list  %}
  <div class="row">

    <div style= 'padding-left: 1rem;'>  <a href="/espacios/Plantas_o_zonas_edit/{{ list.id }}" >{{ list.nombre }} </a>  </div>

   </div>
   
{% endfor %}
</div>
</form>

{% endblock %}
