{% extends "base.html" %}

    {% block content %}
        <div id="avideogame-list">
            <h1>Welcome senpai!</h1>
            <p>Check out our summer discounts (✿◠‿◠)</p>
             <button hx-get={% url "ubicacion_list" %}
               hx-trigger="click"
               hx-target="#videogame-list"
               hx-push-url="true"
               hx-swap="outerHTML">
                Go to discounts
            </button>           
        </div>


        <div id="videogame-list">
        </div>    
    {% endblock content %}