<!doctype html>
<html lang="es">


{% extends "base.html" %}

{% block navbar2 %}{% include 'navbar_espacios.html'%}{% endblock navbar2 %}

{% block header %}
  <div style=    "display: flex;   padding: 5px; justify-content :center; text-align: center; ">
    <div><h3>{{ubicacion.nombre}}, Elige una opción</h3></div>
  </div>

{% endblock header %}

{% block header2 %}{% endblock header2 %}

{% block content %}

<div id="grid_start" style="grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr))">
    <div> <a type="button" class="btn btn-primary" href="/partes/parte_nuevo/{{ ubicacion.nombre }}">Parte_nuevo</a></div>
    <div> <a type="button" class="btn btn-primary" href="/espacios/ubicacion_menu/{{ list.id }}">Inventario</a></div>
    <div><a type="button" class="btn btn-primary" href="/espacios/ubicacion_menu/{{ list.id }}">Notas</a></div>
    <div><a type="button" class="btn btn-primary" href="/espacios/ubicacion_menu/{{ list.id }}">Incidencias</a></div>

</div>

  <div style=    "display: flex;   padding: 5px; justify-content :center; text-align: center; ">
    <h6>Info de la llave</h6>
  </div>

  <div style=    "display: flex;   padding: 5px; justify-content :center; text-align: center; ">
    <h6>Lista partes pendientes</h6>
  </div>

  <div style=    "display: flex;   padding: 5px; justify-content :center; text-align: center; ">
    <h6>Notas</h6>
  </div>

  <div style=    "display: flex;   padding: 5px; justify-content :center; text-align: center; ">
    <h6>Incidencias</h6>
  </div>


  {% endblock %}
