<!doctype html>
<html lang="es">


{% extends "base.html" %}

{% block navbar2 %}{% include 'navbar_espacios.html'%}{% endblock navbar2 %}

{% block header %}
  <div style=    "display: flex;   padding: 5px; justify-content :left; text-align: center; ">
    <h3>{{ubicacion.nombre}}</h3>

  </div>

info de la llave

    <h3>Elige una opción</h3>

{% endblock header %}

{% block header2 %}{% endblock header2 %}

{% block content %}

<div id="grid_start">
    <div> <button type="button" class="btn btn-primary" href="/espacios/ubicacion_menu/{{ list.id }}">Nuevo parte</button></div>
    <div> <button type="button" class="btn btn-primary" href="/espacios/ubicacion_menu/{{ list.id }}">Inventario</button></div>
    <div><button type="button" class="btn btn-primary" href="/espacios/ubicacion_menu/{{ list.id }}">Notas</button></div>
    <div><button type="button" class="btn btn-primary" href="/espacios/ubicacion_menu/{{ list.id }}">Incidencias</button></div>

</div>


{% endblock %}
