<!doctype html>
<html lang="es">


{% extends "base.html" %}

{% block navbar2 %}{% include 'navbar_espacios.html'%}{% endblock navbar2 %}

{% block header %}
  <div style=    "display: flex;   padding: 5px; justify-content :left; text-align: center; ">
    <h3>Elige una zona del hotel</h3>
  </div>
{% endblock header %}

{% block header2 %}{% endblock header2 %}

{% block content %}

    <form method="POST" class="post-form">{% csrf_token %}
        <div class="container_fluid" style="padding-left: 5px" >
            <select name="select_zona" class="form-control" hx-get="/espacios/ubicaciones_select/" hx-target="#ubicaciones" hx-indicator=".htmx-indicator">>
                {% for  form in form  %}
                    <option value=" {{ form.id }}">{{ form }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="container_fluid" style="padding-left: 5px" >
    
            <div id="ubicaciones" name="ubicaciones"></div>  
                  <!-- A esta ubicacion viene lo que devuelve la template   -->
            </div>
    </form>

{% endblock %}
